.header, .hero, .body, .bar, .footer {
	background-color: #B9B1CD;
	margin-bottom: 20px;
}

.box {
	margin: 10px 0;
	min-height: 80px;
	background-color: #F4EAF1;
	font-size: 30px;
	color: #8E84A9;
}

.three {
	background-color: #C9C3DE;
}

.five {
	background-color: #C9C3DE;
}